/* Variables Set */

:root {
    --purple: rgba(152, 39, 245, 0.15);
    --blue: rgba(39, 98, 245, 0.15);
    --red: rgba(245, 39, 39, 0.15);
    --darkblue: rgba(21, 45, 141, 1);
    --darkpurple: rgba(92, 21, 141, 1);
}

/* Global Variables */

* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: auto;
}

body {
    background-image: url("../images/background.jpg");
    text-align: center;
}

/* Changing the color of the links depending on state */

a:visited {
    color: white;
}

a:hover {
    color: var(--darkblue);
}

/* Adjusting nav bar color */

.nav-bar {
    background-color: var(--purple);
    padding-bottom: 10px;
}

/* Header adjustments for h2 elements*/

h2 {
    padding-bottom: 5px;
    color: var(--darkpurple);
}

.h-nav {
    list-style: none;
    font-size: 150%;
}

.h-nav a{
    padding: 5px;
    text-decoration: none;
}

/* Adjusting about me sizes and color */

#About-Me {
    width: 50%;
}

#About-Me p { 
    color: black;
}

/* Adjusting Projects section */

#Projects {
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    display: inline;
}

/* Adjusting card styling and sizing */

main {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

main.header {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 400px;
    height: 225px;
    text-align: center;
    border: 5px solid var(--blue);
    border-radius: 25px 25px 0px 0px;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: var(--purple);
}

/*.card:first-child {
    width: 600px;
    height: 425px;
}*/

.card header {
    padding: 2px;
    color: black;
}

.card header::before {
    content: "☆ ";
}

.card header::after {
    content: " ☆";
}

.card img {
    width: 100%;
    height: 89%;
} 

.card

/* Adjusting Contact section */

#Contact {
    padding-bottom: 5px;
}

#Contact a {
    text-decoration: none;
    color: blue;
}

#Contact p {
    color: black;
}

/* Adding text decoration in the contact section */

#Contact h2::before {
    content: "✉ ";
}

#Contact h2::after {
    content: " ✉";
}

footer {
    background-color: var(--purple);
}

footer h4 {
    color: var(--darkpurple);
    padding: 5px;
}

footer p {
    color: black;
}

/* Size adjustment depending on screen size */

@media screen and (max-width: 1346px) {
    .nav-bar {
        background-color: var(--blue);
    }
    footer {
        background-color: var(--blue);
    }
    footer h4 {
        color: rgba(21, 70, 141, 1);
    }
}

@media screen and (max-width: 897px) {
    .nav-bar {
        background-color: var(--red);
    }
    footer {
        background-color: var(--red);
    }
    footer h4 {
        color: rgba(141, 21, 21, 1);
    }
}
